---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
    <div class="card p-3">
        <div class="card-body">
            <!-- <h2>About</h2>
            <hr /> -->
            <p>
                I am creative person, love new challenge and am to making
                website using PHP programming language and the laravel framework
                for 3 years working. i was able to meet the needs of the website
                where my company worked and was able to maintain all the website
                so taht they could work properly
            </p>
            <p><small>Email : abdurrosyiida@gmail.com</small></p>
            <p>
                <small
                    >Address : Balongpanggang, Gresik Jawa Timur Indonesia</small
                >
            </p>
        </div>
    </div>
</Layout>

<style></style>
