---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Resume">
	<div class="card p-3">
		<div class="card-body">
			<!-- <h2>Resume</h2>
			<hr /> -->
			<div>
				<h5><b>Education</b></h5>
				<ul>
					<li>
						<div>
							<p><b>Universitas Muhammadiyah Gresik</b></p>
							<small>Teknik Informatika | 2017 - 2021</small>
						</div>
					</li>
				</ul>
			</div>
			<h5 class="mb-2"><b>Experience</b></h5>
			<ul>
				<li>
					<div>
						<p>
							<b
								>Freelance | Fullstack Developer | Feb 2024 -
								May 2024</b
							>
						</p>
						<small
							>Membuat sistem informasi presensi karyawan dengan
							menggunakan laravel dan flutter.</small
						>
					</div>
				</li>
				<li>
					<div>
						<p>
							<b
								>Freelance | Fullstack Developer | Aug 2023 -
								Jan 2024</b
							>
						</p>
						<small
							>Membuat sistem informasi LMS (Learning Managed
							System) dengan menggunakan laravel dan react native.</small
						>
					</div>
				</li>
				<li>
					<div>
						<p>
							<b
								>Freelance | Backend Developer | Sep 2022 - Jan
								2023</b
							>
						</p>
						<small
							>Membuat sistem informasi presensi karyawan dengan
							menggunakan laravel.</small
						>
					</div>
				</li>
				<li>
					<div>
						<p>
							<b
								>Freelance | Fullstack Developer | Oct 2021 -
								Mar 2022</b
							>
						</p>
						<small
							>Membuat sistem informasi (program smk4tahun) dengan
							menggunakan laravel.</small
						>
					</div>
				</li>
				<li>
					<div>
						<p>
							<b
								>Freelance | Backend Developer | Dec 2020 - May
								2021</b
							>
						</p>
						<small
							>Membuat sistem informasi PMB, Rekrutmen dan SIAKAD
							dengan menggunakan laravel.</small
						>
					</div>
				</li>
				<li>
					<div>
						<p>
							<b
								>Freelance | Fullstack Developer | Feb 2020 -
								Nov 2020</b
							>
						</p>
						<small
							>Membuat sistem informasi conference international
							dengan menggunakan laravel.</small
						>
					</div>
				</li>
			</ul>
			<div>
				<h5><b>Certificate</b></h5>
				<ul>
					<li>
						<div>
							<p>
								<b
									>Sertifikat Pelatihan | Profesional Academy
									Digital Talent Schoolarship 2022 | Dec 2022</b
								>
							</p>
							<small>React Js</small>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</Layout>

<style></style>
