---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Project">
    <div class="card p-3">
        <div class="card-body">
            <!-- <h2>Project</h2>
            <hr /> -->
            <div class="row">
                <div class="col-md-4 d-flex mb-4">
                    <div class="card shadow-sm text-dark">
                        <img src="/images/presensimobile.jpeg" alt="" />
                        <hr />
                        <div class="card-body text-center">
                            <p class="card-text">
                                <b>Presensi Karyawan (mobile)</b>
                            </p>
                            <p>Laravel</p>
                            <div
                                class="d-flex justify-content-center align-items-center"
                            >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex mb-4">
                    <div class="card shadow-sm text-dark">
                        <img src="/images/presensi.png" alt="" />
                        <hr />
                        <div class="card-body text-center">
                            <p class="card-text">
                                <b>Presensi Karyawan (integrasi fingerprint)</b>
                            </p>
                            <p>Laravel</p>
                            <div
                                class="d-flex justify-content-center align-items-center"
                            >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex mb-4">
                    <div class="card shadow-sm text-dark">
                        <img src="/images/smk4thn.png" alt="" />
                        <hr />
                        <div class="card-body text-center">
                            <p class="card-text"><b>SMK4Tahun</b></p>
                            <p>Laravel</p>
                            <div
                                class="d-flex justify-content-center align-items-center"
                            >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex mb-4">
                    <div class="card shadow-sm text-dark">
                        <img src="/images/conference.png" alt="" />
                        <hr />
                        <div class="card-body text-center">
                            <p class="card-text"><b>Conference</b></p>
                            <p>Laravel</p>
                            <div
                                class="d-flex justify-content-center align-items-center"
                            >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex mb-4">
                    <div class="card shadow-sm text-dark">
                        <img
                            src="https://rosyiid1440.github.io/img/topup.png"
                            alt=""
                        />
                        <hr />
                        <div class="card-body text-center">
                            <p class="card-text"><b>PPOB</b></p>
                            <p>Laravel</p>
                            <div
                                class="d-flex justify-content-center align-items-center"
                            >
                                <a
                                    href="https://gastopup.my.id/"
                                    type="button"
                                    class="btn btn-sm btn-outline-secondary"
                                    >Show Website</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex mb-4">
                    <div class="card shadow-sm text-dark">
                        <img
                            src="https://rosyiid1440.github.io/img/learn.png"
                            alt=""
                        />
                        <hr />
                        <div class="card-body text-center">
                            <p class="card-text">
                                <b>Learning Managed System</b>
                            </p>
                            <p>Laravel + Bootsrap</p>
                            <div
                                class="d-flex justify-content-center align-items-center"
                            >
                                <a
                                    href="https://learn.rosyiid.my.id/"
                                    type="button"
                                    class="btn btn-sm btn-outline-secondary"
                                    >Show Website</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex mb-4">
                    <div class="card shadow-sm text-dark">
                        <img
                            src="https://rosyiid1440.github.io/img/voting.png"
                            alt=""
                        />
                        <hr />
                        <div class="card-body text-center">
                            <p class="card-text"><b>E-Voting</b></p>
                            <p>
                                Laravel 9 (Turbo)+ Sbadmin2 (Bootsrap) +
                                Websocket
                            </p>
                            <div
                                class="d-flex justify-content-center align-items-center"
                            >
                                <a
                                    href="https://github.com/rosyiid1440/siosis"
                                    type="button"
                                    class="btn btn-sm btn-outline-secondary"
                                    >Show Github</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex mb-4">
                    <div class="card shadow-sm text-dark">
                        <img
                            src="https://rosyiid1440.github.io/img/simpark.png"
                            alt=""
                        />
                        <hr />
                        <div class="card-body text-center">
                            <p class="card-text"><b>SIM Parking</b></p>
                            <p>CodeIgniter + AdminLTE (Bootsrap)</p>
                            <div
                                class="d-flex justify-content-center align-items-center"
                            >
                                <a
                                    href="https://github.com/rosyiid1440/simpark"
                                    type="button"
                                    class="btn btn-sm btn-outline-secondary"
                                    >Show Github</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex mb-4">
                    <div class="card shadow-sm text-dark">
                        <img
                            src="https://rosyiid1440.github.io/img/topup.png"
                            alt=""
                        />
                        <hr />
                        <div class="card-body text-center">
                            <p class="card-text">
                                <b
                                    >Tugas Akhir Repository (Cosine + Sorensen
                                    Dice)</b
                                >
                            </p>
                            <p>Laravel</p>
                            <div
                                class="d-flex justify-content-center align-items-center"
                            >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex mb-4">
                    <div class="card shadow-sm text-dark">
                        <img
                            src="https://rosyiid1440.github.io/img/nextjsblog.png"
                            alt=""
                        />
                        <hr />
                        <div class="card-body text-center">
                            <p class="card-text"><b>Blog</b></p>
                            <p>Laravel (API) + NextJs</p>
                            <div
                                class="d-flex justify-content-center align-items-center"
                            >
                                <a
                                    href="https://github.com/rosyiid1440/blog-nextjs"
                                    type="button"
                                    class="btn btn-sm btn-outline-secondary"
                                    >Show Github NextJs</a
                                >
                                <a
                                    href="https://github.com/rosyiid1440/api-blog-laravel"
                                    type="button"
                                    class="btn btn-sm btn-outline-secondary"
                                    >Show Github Laravel</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>

<style></style>
